<html>
	<head>
		<title>fitness</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../static/css/foundation.min.css">
		<link rel="stylesheet" href="../static/css/index.css">
		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="main-body-wrapper">
			<div class="row body-wrapper">
				<div class="small-8 columns wrapper left-side">		
					<div class="page-title">Hi, Alex! Ready for some training?</div>
					<div class="clear"></div>
					<div class="row header-wrapper wrp">
						<div class="main-usr-wrap">
							<div class="small-12 columns header">
								<div class="usr-div-img">
									<img class="profile-pic" src="../static/img/sacal.jpg" alt="">
								</div>
								<div class="usr-details">
									<div class="name">Alex Stratulat</div>
									<div class="rank">Rank <span class="rank-n">1</span></div>
									<div class="age">Age <span class="rank-n">21</span></div>
									<div class="weight">Weight <span class="rank-n">71 kg</span></div>
									<div class="height">Height <span class="rank-n">1.77 m</span></div>
								</div>
							</div>
						</div>
						<div class="other-info-wrapper">
						</div>
					</div>
					<div class="row videos-search-results">
						<div class="small-12 columns results">
							<ul class="videos">
								<h3 class="title">Previous exercises</h3>
								<hr class="shadow"/>
								<div class="clear"></div>
								<li class="video">
									<iframe src="https://www.youtube.com/embed/6EEWd8_Caug" allowfullscreen="allowfullscreen"></iframe>
								</li>
								<hr class="shadow"/>
								<div class="clear"></div>
								<li class="video">
									<iframe src="https://www.youtube.com/embed/Ywis2Rrt7i0" allowfullscreen="allowfullscreen"></iframe>
								</li>
								<hr class="shadow"/>
								<div class="clear"></div>
								<li class="video">
									<iframe src="https://www.youtube.com/embed/j5Bag7blLLk" allowfullscreen="allowfullscreen"></iframe>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="small-4 columns right-side">
					<div class="row suggested-videos-wrapper">
						<div class="small-12 columns videos">
							<button class="btn full-width" onclick="window.location.href='/main';">Start Training</button>
							<ul class="videos">
                                <h3 class="sugestions-header">Popular videos</h3>
                                <hr class="shadow" />
                                <div class="clear"></div>
								<li class="video">
									<iframe class="sidebar-video" src="https://www.youtube.com/embed/cGoubsT3GeA" allowfullscreen="allowfullscreen"></iframe>
								</li>
								<li class="video">
									<iframe class="sidebar-video" src="https://www.youtube.com/embed/-hj4upI6qQo" allowfullscreen="allowfullscreen"></iframe>
								</li>
								<li class="video">
									<iframe class="sidebar-video" src="https://www.youtube.com/embed/ZCldXaJJEnk" allowfullscreen="allowfullscreen"></iframe>
								</li>
							</ul>		
						</div>
					</div>
					<div class="row suggested-videos-wrapper ranks-wrapper">
						<div class="small-12 columns videos">
							<ul class="videos">
                                <h3 class="sugestions-header">Top rank users</h3>
                                <hr class="shadow" />
                                <div class="clear"></div>
								<li class="user-box">
									<div class="user-img-wrapper">
										<a href="#">
											<img src="../static/img/sacal.jpg" alt="">
										</a>
									</div>
									<div class="user-details">
										<a href="#">
											<div class="name">Alex Sacalu</div>	
										</a>
										<div class="rank">Rank 
											<span class="rank-no">1</span>
										</div>
									</div>
								</li>
                                <hr class="shadow" />
                                <div class="clear"></div>
								<li class="user-box">
									<div class="user-img-wrapper">
										<a href="#">
											<img src="../static/img/sacal.jpg" alt="">
										</a>
									</div>
									<div class="user-details">
										<a href="#">
											<div class="name">Jim London</div>	
										</a>
										<div class="rank">Rank 
											<span class="rank-no">2</span>
										</div>
									</div>
								</li>
								<hr class="shadow" />
                                <div class="clear"></div>
								<li class="user-box">
									<div class="user-img-wrapper">
										<a href="#">
											<img src="../static/img/sacal.jpg" alt="">
										</a>
									</div>
									<div class="user-details">
										<a href="#">
											<div class="name">George Frank</div>	
										</a>
										<div class="rank">Rank 
											<span class="rank-no">3</span>
										</div>
									</div>
								</li>
                                <div class="clear"></div>
							</ul>		
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
