<html>
  <head>
    <title>fitness</title>
    <link rel="stylesheet" href="../static/css/foundation.min.css">
        <link rel="stylesheet" href="../static/css/ceva.css" >
  </head>
  <body class = "body-login">
   <div class="large-3 large-centered columns">
   <div class="login-box-wrapper">
      <h3 class="title">Log In</h3>
      <div class="login-box">
        <div class="row">
          <div class="small-12 columns">
            <form action="/validateLogin" method="POST">
              <div class="row">
                <div class="small-12 columns">
                  <input type="text" name="username" placeholder="Username" />
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns">
                  <input type="password" name="password" placeholder="Password" />
                </div>
              </div>
              <div class="row">
                <div class="small-12 large-centered columns">
                  <input type="submit" class="button expand" value="Log In"/>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      </div>
    </div>
  </body>	
</html>
