<!DOCTYPE html>
<html ng-app="mainApp">
<head lang="en">
	
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
  <script>window.jQuery || document.write('<script src="../libs/jquery/dist/jquery.min.js"><\/script>')</script> 
  <script src="../static/js/jquery.vide.js"></script> 
  <script src="../static/js/angular.min.js"></script>
  <script src="../static/js/angular.audio.js"></script>
  <script src="../static/js/app.js"></script>
  <script src="../static/js/service/appService.js"></script>
  <script src="../static/js/service/urlFilter.js"></script>
  <script src="../static/js/controller/appController.js"></script>
  <script type="text/javascript">
  	$(document).ready(function() {
  		$("video").prop('muted', true);
  	});
  </script>
  <meta charset="UTF-8">
  <title>Body background example</title>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <!--<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>-->
  <link rel="stylesheet" href="../static/css/main.css" >

</head>
<body ng-controller="appController">
 	
 	<div ng-if="!view2">
 		<script>
            $("video").prop('muted', true);
 		</script>
 		<div class="fullscreen-cover">&nbsp;</div>
 		<div class="fullscreen-bg">
		    <video loop muted autoplay class="video">
		        <source src="../static/vid/intro.webm" type="video/webm">
		        <source src="../static/vid/intro.mp4" type="video/mp4">
		    </video>
		</div>
		<div class="text">HOW ARE YOU FEELING TODAY?</div>
		<div class="clear"></div>
		<button class="mic" ng-click="triggerSpeech()"></button>
         <button class="btn right-align">My Profile</button>
	</div>
	
	<div ng-if="view2">
		<div ng-click="goToMain()" class="go-back">Go Back</div>
		<div ng-if="videoUrl == 'muscle'">
			<iframe id ="ytplayer"src="https://www.youtube.com/embed/cGoubsT3GeA?rel=0&autoplay=1&start=72&enablejsapi=1" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
			<div ng-init="startMusic(song)"></div> 
		</div>
		<div ng-if="videoUrl == 'chest'">
			<iframe src="https://www.youtube.com/embed/-hj4upI6qQo?autoplay=1&start=68" frameborder="0" allowfullscreen></iframe>
			<div ng-init="startMusic(song)"></div> 
		</div>
		<div ng-if="videoUrl == 'shoulder'">
			<iframe src="https://www.youtube.com/embed/ZCldXaJJEnk?autoplay=1&start=62" frameborder="0" allowfullscreen></iframe>
			<div ng-init="startMusic(song)"></div> 
		</div>
		<div ng-if="videoUrl == 'weight'">
			<iframe src="https://www.youtube.com/embed/6EEWd8_Caug?autoplay=1&start=51" frameborder="0" allowfullscreen></iframe>
			<div ng-init="startMusic(song)"></div> 
		</div>
		<div ng-if="videoUrl == 'circuit'">
			<iframe src="https://www.youtube.com/embed/BLYXyd3cY6M?autoplay=1&start=42" frameborder="0" allowfullscreen></iframe>
			<div ng-init="startMusic(song)"></div> 
		</div>
		<div ng-if="videoUrl == 'back'">
			<iframe src="https://www.youtube.com/embed/Ywis2Rrt7i0?autoplay=1&start=63" frameborder="0" allowfullscreen></iframe>
			<div ng-init="startMusic(song)"></div> 
		</div>
		<div ng-if="videoUrl == 'leg'">
			<iframe src="https://www.youtube.com/embed/j5Bag7blLLk?autoplay=1&start=55" frameborder="0" allowfullscreen></iframe>
			<div ng-init="startMusic(song)"></div> 
		</div>
	</div>

</body>
</html>
