<html>
  <head>
    <title>fitness</title>
    <link rel="stylesheet" href="../static/css/foundation.min.css" >
    <link rel="stylesheet" href="../static/css/ceva.css" >
  </head>
  <body class = "body-login">
    <div class="large-3 large-centered columns">
      <div class="login-box-wrapper-2">
       <h3 class="title">Sign Up</h3>
      <div class="login-box  wrapper">
        <div class="row">
          <div class="small-12 columns">
            <form>
              <div class="row">
                <div class="small-12 columns">
                  <input type="text" name="name" placeholder="Name" maxlength='50'/>
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns">
                 <input type="text" name="surname" placeholder="Surname" maxlength='50'/>
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns">
                  <input type="text" name="username" placeholder="Username" maxlength='50'/>
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns">
                  <input type="password" name="password" placeholder="Password" />
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns">
                  <input type="number" name="age" placeholder="Age" min="0"/>
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns">
                  <input type="number" name="height" placeholder="Height" min="0"/>
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns">
                  <input type="number" name="weight" placeholder="Weight" min="0" />
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns">
                  <input type="radio" name="gender" value="Male" id="male"/><label for="male">Male</label>
                  <input type="radio" name="gender" value="Female" id="female"/><label for="female">Female</label>
                </div>
              </div>
              <div class="row">
                <div class="small-12 large-centered columns">
                  <input type="submit" class="button expand" value="Sign up"/>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      </div>
    </div>
  </body>	
</html>
